<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tecdev.btctrade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="br.com.tecdev.btctrade.app.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity -->
        <activity
            android:name="br.com.tecdev.btctrade.feature.credits.CreditsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name="br.com.tecdev.btctrade.feature.guide.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name="br.com.tecdev.btctrade.feature.coins.AllCoinsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name="br.com.tecdev.btctrade.feature.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="br.com.tecdev.btctrade.feature.splash.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>